@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");
@import url("https://fonts.gstatic.com");


.header {
    width: 100%;
    padding: 5%;
    font-family: 'Quicksand', sans-serif;
    position: relative;
}
.header .top-banner {
    background-color: rgb(175, 230, 175);
    padding: 5% 34% 7% 5%;
    border-radius: 20px;
    top: 20;
}
.header .top-banner2 {
    background-color: rgb(175, 230, 175);
    /* padding: 5% 5%; */
    border-radius: 20px;
    position: relative;
}
.side-banner {
    position: absolute;
    background: url(../../assets/images/bg-side.jpg);
   background-size: auto ;
    width: 30%;
    min-height: 400px;
    right: 30px;
    top: -20px;
    border-radius: 20px;
}